---
layout: default
---
<html>
  <head>
    <meta charset="UTF-8">
    <title> Deborah Plana </title>
    <meta name="Description" content="Deborah Plana | MD-PhD Candidate at Harvard Medical School and MIT"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <meta name="keywords" content= "Deborah Plana"/>
    <meta name="keywords" content= "Deborah Plana harvard/">
    <meta name="keywords" content= "Deb Plana" />
    <meta name="keywords" content= "data science" />
    <meta name="keywords" content= "systems biology" />
    <meta name="keywords" content= "biotechnology" />
    <meta name="keywords" content= "oncology" />    
    <meta name="keywords" content= "cancer" />   
    <meta name="keywords" content= "IPD" />  
    <meta name="keywords" content= "individual participant data" /> 
    <meta name="keywords" content= "Weibull" />     
    <meta name="keywords" content= "personalized medicine" />     
    <meta name="keywords" content= "precision medicine" />     
    <meta name="keywords" content= "biotech" />
    <meta name="keywords" content= "MIT" />
    <meta name="keywords" content= "Harvard" />
    <meta name="keywords" content= "Harvard Medical School" />
    <meta name="keywords" content= "MD-PhD" />
    <meta name="keywords" content= "computational biology" />
    <meta name="keywords" content= "bioengineering" />
    <meta name="keywords" content= "MSTP" />                                              
    <meta name="keywords" content= "biological engineering" />                                             
    <meta name="keywords" content= "COVID-19" />
    <meta name="keywords" content= "COVID-19" />
    <meta name="title" content= "Deborah Plana| MD-PhD Candidate at Harvard Medical School and MIT"  />
</head>


{% include career-profile.html %}

{% unless site.data.data.sidebar.education %}
  {% include education.html %}
{% endunless %}

{% include experiences.html %}

{% include projects.html %}

{% include publications.html %}

{% include skills.html %}
